.App{
  text-align: center;
  overflow: hidden;
}

.navLink{
  display: flex;
  justify-content: space-around;
  width: 200px;
 
}

.about {
  margin: 100px auto;
  width: 550px;
  height: 50vh;
  border: 5px solid rgb(255, 208, 0);
}
.about h1{
  text-align: center;
  text-transform: uppercase;
  padding-top: 10px;
}
.about p{
  text-align: justify;
  margin-top: 30px;
  margin-left: 70px;
  width: 70vh;
  height: 50vh;
  line-height: 30px;
}

.cardUser{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 200vh;
    margin-top: 80px;
    margin-bottom: 80px;

}

.postList {
  display: flex;
  flex-wrap: wrap;
  width: 200vh;
  justify-content: space-around;
  margin-bottom: 80px;
}

.imgError {
 margin: 100px 40px;
  position: relative;

}


.footer {
  background-color: black;
  height: 200px;
  color: white;
  margin-top: 50px;
  padding: 60px 50px 30px 20px;
}

.footer a {
  color: white;
  margin-right: 20px;
  font-size: 20px;
}

